

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a {
  padding: 10px;
}

body {
  padding: 0;
  margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
Main
*/

.main-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 2em;
  background-color: #4b4949
}

.header {
  overflow: hidden;
  background-color: #191970;
  display: flex;
  align-items: center;
}

/* Style the header links */
.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;

}

/* Float the link section to the right */
.header-right {
  float: right;
}

.footer {
  margin-top: auto;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.contact-container 
{
  display: flex;
  justify-content: space-between;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

label {
  margin-bottom: 5px;
}

.logo {
  width: 80px;
  height: 80px;
}



.about p img{
  width: 400px;
  float: right;
  margin-right: 10px;
}

.about p {
  font-size: 32px; 
}

.portfolio-intro {
  font-size: 24px; 
}

.mission-statement {
  margin-top: 80px;
}

.get-to-know-me-link {
  display: block;
  margin-top: 60px; 
  color: #080835;
  text-decoration: underline; 
}

.page-title {
  font-size: 44px; 
  text-align: center;
  margin-top: 10px;
}

.box {

  border: 3px solid black;
  padding: 10px; /* Reduced padding */
  margin: 10px;
  display: inline-block; /* This will make the div only as wide as its contents */
  width: fit-content; /* This will allow the div to shrink to the width of its contents */
  height: fit-content;
  /* Ensure height fits content */
}

.contact-info {
  flex-shrink: 0;
  margin-right: 100px;
}

/* projects*/
.project {
  padding: 20px;
}

.page-title {
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap; /* Wrap items to next line when container width is exceeded */
  gap: 20px; /* Space between each project */
}

.project-item {
  flex: 0 0 calc(33.33% - 20px); /* Set each item to occupy one-third of the container width */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between image and text */
  text-align: center;
}

.project-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  max-width: 100%;
  text-align: left; /* Align text to the left within project details */
}
