/*
File name: src/App.css
Student Name: Janiel Mark Javier
Student ID: 301379377
Date: 05/31/2024
*/

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a {
  padding: 10px;
}

body {
  padding: 0;
  margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
Main
*/

.main-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 2em;
  background-color: #4b4949
}

.header {
  overflow: hidden;
  background-color: #191970;
  display: flex;
  align-items: center;
}

/* Style the header links */
.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;

}

/* Float the link section to the right */
.header-right {
  float: right;
}

.footer {
  margin-top: auto;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}



label {
  margin-bottom: 5px;
}

.logo {
  width: 80px;
  height: 80px;
}


.page-title {
  font-size: 44px; 
  text-align: center;
  margin-top: 10px;
}

